<div class="room" id="promo">
{{#each data }}
<a href="/room/info/{{this.id}}">
<ul class="room-info zoom">
   <li><img src="/public/img/rooms/{{this.roomPic}}"></li>
   <li class="top-room-info">
      <h3>{{this.title}}</h3>
   </li>
   <li><label>{{this.description}}</label></li>
   <li><label>${{this.price}} CAD / night</label></li>
   <li><label>{{this.featured}} </label></li>
   {{!-- <li><img src="/public/img/special-offer-sign.png" class="star-img"></li> --}}
</ul>
</a>
{{/each}}
</div>


