<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/room.css">

<div class="room">
{{#each rooms }}
<ul class="room-info">
   <li><img src={{this.roomImg}}></li>
   <li class="top-room-info">
      <h3>{{this.title}}</h3><img src={{this.starImg}} class="star-img">
   </li>
   <li><label>{{this.description}}</label></li>
   <li><label>${{this.price}} / night</label></li>
</ul>
{{/each}}
</div>

