<div class="room">
{{#each rooms }}
<ul class="room-info zoom">
   <li><img src={{this.roomImg}}></li>
   <li class="top-room-info">
      <h3>{{this.title}}</h3><img src={{this.starImg}} class="star-img">
   </li>
   <li><label>{{this.description}}</label></li>
   <li><label>${{this.price}} CAD / night</label></li>
</ul>
{{/each}}
</div>
{{!-- <div class="pagenumbers" id="pagination"></div><br> --}}

