<div>
  <h1>{{headingInfo}}</h1>
  <form method="POST" action="/user/edit">
  <ul>
    <li><img src="/img/users/{{profilePic}}"> </li>
    <li><label>Legal name</label>  </li>
    <li><label>Gender</label> {{gender}}</li>
    <li><label>Date of birth</label> {{dob}}</li>
    <li><label>Email address</label> {{email}}</li>
    <li><label>Phone number</label> {{phone}}</li>
    <li><label>Government ID</label> {{govid}}</li>
    <li><label>Address</label> {{address}}</li>
  </ul>
   <input type="submit" value="Edit">
  </form>
</div>